name: Publish Github

on: 
  workflow_dispatch:
    inputs:
      version:
        description: 'package version'
        required: true
        default: '1.0.0'
        type: string
jobs:
  publish: 
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Setup .NET 7
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x
        source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
#      env:
#        NUGET_AUTH_TOKEN: ${{ github.token }}
#        NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
   
    - name: Create package
      run: |
        dotnet pack --configuration Release
    - name: Publish the package to GitHub Package Registry
      run: |
        dotnet nuget push "**/*.nupkg" --skip-duplicate --api-key ${{ secrets.GITHUB_TOKEN }}
