name: Publish to nuget.org

on: 
  workflow_dispatch:

jobs:
  publish: 
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Setup .NET 6
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.100'
        source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
      env:
        NUGET_AUTH_TOKEN: ${{ github.token }}
   
    - name: Restore dependencies
      run: dotnet restore      
      
    - name: Build
      run: dotnet build
      
    - name: Publish the package to GPR
      run: dotnet nuget push **/*.nupkg -k ${NUGETORG_TOKEN} -s ${SOURCE_URL} --skip-duplicate
      env:      
        NUGETORG_TOKEN: ${{ secrets.PUSH_TO_NUGET_ORG }}
        SOURCE_URL: https://api.nuget.org/v3/index.json
