name: Publish Github

on: 
  workflow_dispatch:
#    inputs:
#      version:
#        description: 'package version'
#        required: true
#        default: '1.0.0'
#        type: string

jobs:
  publish: 
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Setup .NET 7
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x
        source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}    
#       NUGET_AUTH_TOKEN: ${{ github.token }}

   
    - name: Create package
      run: |       
        dotnet pack -c Release -o out
    - name: Publish the package to GitHub Package Registry
      run: |
        echo ${{ github.repository_owner }}
        dotnet nuget push "**/*.nupkg" --skip-duplicate --no-symbols true
