name: Publish to nuget.org

on:
  push:
    tags:
      - 'v*.*.*'

jobs:

  push: 

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Setup .NET 6
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.100'
        source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
      env:
        NUGET_AUTH_TOKEN: ${{ github.token }}
        
    - name: Restore dependencies
      run: dotnet restore --no-cache      
      
    - name: Build
      run: dotnet build
      
    - name: Publish the package to nuget repository
      run: |
        dotnet nuget push "**/*.nupkg" --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.PUSH_TO_NUGET_ORG }} --skip-duplicate
